body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-direction: row;
  margin: 0 auto;
  height: 60vh;
  width: 60vw;
  margin-bottom: 20px;
}

.score {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}
.score p {
  padding: 0 1vw;
}

.box {
  flex: 33%;
  padding: 50px;
  border: 3px solid #00c79f69;
  background-color: #090b0ce6;
}


.box:disabled {
  border: 3px solid #00c79f69;
  background-color: #090b0ce6;
}


.X {
  color: green;
    font-size: 8vh;
    padding: 0;
}

.O {
  color:red;
   font-size: 8vh;
    padding: 0;
}


.board-container {
  color: white;
  text-align: center;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}




.resetBtn{
  text-align: center;
   margin: 0 auto;
  width : 10vw;
  height : 40px;
  border : 1px solid #00c79f69;
  border-radius: 5px;
  color: white;
  background-color:  black;
}